.home_cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-title {
    margin-top: 6.25rem;
  } // home_cnt-title

  .doors_cnt {
    margin-top: 6.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  } // doors_cnt
} // home_cnt
