.solutions_cnt {
  border: 1px solid #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding: 2rem 0;

  &-title {
    margin-bottom: 2rem;
    font-weight: 500;
  } // solutions_cnt-title

  &-arrow_items {
    .arrow_item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      &-image {
        width: 30%;

        &.arrow_item-image--up {
          transform: rotate(0deg);
        } // arrow_item-image arrow_item-image--up

        &.arrow_item-image--right {
          transform: rotate(90deg);
        } // arrow_item-image arrow_item-image--right

        &.arrow_item-image--down {
          transform: rotate(180deg);
        } // arrow_item-image arrow_item-image--down

        &.arrow_item-image--left {
          transform: rotate(270deg);
        } // arrow_item-image arrow_item-image--left
      } // image
    } // arrow_item
  } // solutions_cnt-arrow_items
} // solutions_cnt
