<section class="solutions_cnt">
  <h2 class="solutions_cnt-title">Sello a descifrar</h2>

  <section class="solutions_cnt-arrow_items">
    <ng-container>
      <div class="arrow_item">
        <img class="image" src="assets/images/arrow_bg.png" />
      </div>
      <div class="arrow_item">
        <img class="image" src="assets/images/arrow_bg.png" />
      </div>
      <div class="arrow_item">
        <img class="image" src="assets/images/arrow_bg.png" />
      </div>
      <div class="arrow_item">
        <img class="image" src="assets/images/arrow_bg.png" />
      </div>
    </ng-container>
  </section>
</section>
